{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <br><br>
  <br>
<!--Header de bienvenue-->
  <div class="card" style="background-color:rgba(0, 0, 0, 0.301);">
  <h1 align="center" style="color:azure">Bienvenue  {% if user %} {{user.first_name}} {% endif %}</h1> 
  </div><br><br>
  <center>
  <h3><label for="music-search">Chercher une musique : </label></h3>
  
  <!--Recherche de chansons dans la bdd-->
  <form method="get">
    <input type="search" id="music-search" name="recherche" style="width: 400px; height: 40px">
    <button type="submit" class="btn btn-primary">Go!</button><br><br><br><br>
  </form>
  
    <!--Affichage des résultats de la recherche de chanson-->
  {% if resultats %}
  <div class="card" style="background-color:rgba(0, 0, 0, 0.301);">
    <table>
      <tr>
        <th>Artiste</th>
        <th>Album</th>
        <th>Chanson</th>
        <th>Playlist</th>
        <th>Télécharger</th>
      </tr>
      {% for resultat in resultats %}
      <tr>
        <!--Artiste-->
        <th>{{resultat[1]}}</th>
        <!--Album-->
        <th>{{resultat[2]}}</th>
        <!--Nom de la chanson-->
        <th>{{resultat[3]}}</th>
        <!--Playlist (ne fonctionne pas)-->
        <th>{{resultat[4]}}</th>
        <th>
          <!--Dans la dernière colonne il y a un bouton pour télécharger la musique à partir de spotdl-->
          <form method="post">
          <button type="submit" name="submit_button" value={{resultat[5]}} class="btn btn-primary" onclick="alert('Téléchargement lancé de {{resultat[3]}}!')">Télécharger</button>
          </form>
        </th>
      </tr>
      {% endfor %}
    </table>
    </div>
  {% endif %}
  

  </center>
  
<!--Affichage playlist ne fonctionne pas-->
  <div class="row">
    <div class="leftcolumn">
      <div class="card" style="background-color:rgba(0, 0, 0, 0.301);">
        <h1 align="center" style="color:white">Playlist</h1><br>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul><br><br>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
      </div>
    </div>
  


<!--Affichage amis ne fonctionne pas totalement-->
    <div class="rightcolumn">
      <div class="card">
      <h2 align="center">Amis</h2>
    <!--S'il y a des amis, on les affiche (en phase de test)-->
      {% if friends!=0 %}
        <p>{{friends}}</p>
      {% else %}
        <p>Aucun amis trouvés</p>
      {% endif %}
      
        <!--Recherche d'amis dans la BDD (fonctionne)-->
      <form method="GET">
        <input type="search" id="friend-search" name="friend-search" placeholder="Trouver un ami">
        <button type="submit" id="friend-add" name="friend-add" class="btn btn-primary">Add friend</button>
      </form>

      </div>
    </div>
  </div>
  {% endblock %}
  
  
